#burkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 1s;
}

@keyframes float {
  0% {
    margin-top: -30px;
  }
  50% {
    margin-top: 30px;
  }
  100% {
    margin-top: -30px;
  }
}

#burkContainer h2 {
  color: #fff;
  font-size: 8em;
  animation: float 3s infinite;
}
